* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 234, 0);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: rgb(36, 36, 36);
  border-radius: 50px;
  width: 20px;
}

body {
  background-color: rgb(0, 0, 0);
  cursor: url(../../images/cursor1.png), auto;
}

html {
  cursor: url(../../images/cursor1.png), auto;
}

nav .link-btn {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-family: "Koulen";
  font-weight: bold;
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 8px;
  padding: 7px 10px;
}

main .profile-card {
  background-color: rgb(255, 234, 0);
  /* box modeling card */
  border-radius: 8px;
  margin: 20px auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  /* oculta los elementos que sobresalgan de la card */
  overflow: hidden;
  transition: all 0.5s;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px black;
  }
}
@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate__pulse {
  animation-iteration-count: infinite;
}

nav {
  border-radius: 8px;
  background-color: rgb(255, 234, 0);
  margin-top: 10px;
}
@media screen and (max-width: 570px) {
  nav .link-btn {
    font-size: 15px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  nav .link-btn {
    font-size: 25px;
  }
}
@media screen and (min-width: 1025px) {
  nav .link-btn {
    font-size: 30px;
  }
}
nav .link-btn:hover {
  animation: pulsate 1s ease-in-out;
  color: rgb(0, 0, 0);
}

main {
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  flex-direction: column;
}
@media screen and (max-width: 570px) {
  main .titulo {
    font-size: 60px;
  }
  main .profile-card {
    height: 250px;
  }
  main .profile-card h2 {
    font-size: 25px;
  }
  main .profile-card h3 {
    font-size: 16px;
  }
  main .profile-card p {
    font-size: 20px;
  }
  main .profile-card h4 {
    font-size: 22px;
  }
  main .profile-card:hover {
    height: 700px;
  }
  main .profile-card:hover .card-principal {
    height: 270px;
  }
  main .card-funciones:hover {
    height: 900px;
  }
  main .card-estudio {
    height: 200px;
  }
  main .card-estudio .card-principal h2 {
    margin-top: 75px;
  }
  main .card-estudio:hover {
    height: 600px;
  }
  main .card-estudio:hover .card-principal {
    height: 200px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  main .titulo {
    font-size: 90px;
  }
  main .profile-card {
    height: 300px;
  }
  main .profile-card h2 {
    font-size: 30px;
  }
  main .profile-card h3 {
    font-size: 20px;
  }
  main .profile-card p {
    font-size: 25px;
  }
  main .profile-card h4 {
    font-size: 27px;
  }
  main .profile-card:hover {
    height: 770px;
  }
  main .profile-card:hover .card-principal {
    height: 300px;
  }
  main .card-funciones:hover {
    height: 970px;
  }
  main .card-estudio {
    height: 300px;
  }
  main .card-estudio .card-principal h2 {
    margin-top: 125px;
  }
  main .card-estudio:hover {
    height: 850px;
  }
  main .card-estudio:hover .card-principal {
    height: 250px;
  }
}
@media screen and (min-width: 1025px) {
  main .titulo {
    font-size: 120px;
  }
  main .profile-card {
    height: 370px;
  }
  main .profile-card h2 {
    font-size: 35px;
  }
  main .profile-card h3 {
    font-size: 24px;
  }
  main .profile-card p {
    font-size: 30px;
  }
  main .profile-card h4 {
    font-size: 32px;
  }
  main .profile-card:hover {
    height: 750px;
  }
  main .profile-card:hover .card-principal {
    height: 370px;
  }
  main .card-funciones:hover {
    height: 900px;
  }
  main .card-estudio {
    height: 300px;
  }
  main .card-estudio .card-principal h2 {
    margin-top: 125px;
  }
  main .card-estudio:hover {
    height: 1050px;
  }
  main .card-estudio:hover .card-principal {
    height: 250px;
  }
}
main .titulo {
  margin-top: 75px;
  margin-bottom: 75px;
  font-weight: bold;
  background: linear-gradient(45deg, black, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
main h2 {
  color: rgb(0, 0, 0);
  font-family: "Open Sans";
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.5s;
  z-index: 1;
}
main h3 {
  color: rgb(0, 0, 0);
  font-family: "Open Sans";
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
  transition: all 0.5s;
  z-index: 1;
}
main .profile-card:hover {
  animation: pulsate 1s ease-in-out;
  color: rgb(0, 0, 0);
}
main .profile-card .card-principal {
  background: rgb(0, 0, 0);
  padding: 1px;
  height: 10px;
  transition: all 0.5s;
}
main .profile-card .card-principal img {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}
main .profile-card .profile-bio {
  padding: 15px;
  position: relative;
  /* oculta la informacion hasta el hover */
  opacity: 0;
  transition: all 0.3s 0.25s;
}
main .profile-card .profile-bio p, main .profile-card .profile-bio h4 {
  color: rgb(0, 0, 0);
  font-family: "Open Sans";
  font-style: italic;
  text-align: center;
  font-weight: 500;
}
main .profile-card .profile-social-links {
  display: block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 160px;
}
main .profile-card .profile-social-links li {
  display: block;
  float: left;
  transform: translateY(100px);
  transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
}
main .profile-card .profile-social-links li:nth-child(2) {
  transition-delay: 0.35s;
}
main .profile-card .profile-social-links li:nth-child(3) {
  transition-delay: 0.45s;
}
main .profile-card .profile-social-links li a, main .profile-card .profile-social-links li .no-link {
  border-radius: 50%;
  display: block;
  float: left;
  outline: 0 none;
  transition: all 0.3s;
  margin: 0 4px;
  height: 45px;
  width: 45px;
}
main .profile-card .animation img {
  transform: translateY(100px);
  transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
}
main .profile-card:hover .card-principal h2, main .profile-card:hover .card-principal h3 {
  color: rgb(255, 234, 0);
}
main .profile-card:hover .profile-bio {
  opacity: 1;
}
main .profile-card:hover .profile-social-links li {
  transform: translateY(0);
}
main .profile-card:hover .profile-social-links img {
  transform: translateY(0);
}
main .profile-card:hover .animation img {
  transform: translateY(0);
}
main .card-contacto div {
  margin-bottom: 20px;
  border-radius: 20px;
}
main .card-contacto .card {
  background-color: rgb(255, 234, 0);
}
main .card-contacto .card .svg {
  margin: 10px;
}

footer {
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
}
footer .footer, footer .footer-links {
  border-radius: 8px;
  background-color: rgb(255, 234, 0);
}
footer .anuncio {
  background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 570px) {
  footer .footer {
    height: 96px;
  }
  footer .anuncio {
    height: 96px;
  }
  footer h4 {
    font-size: 12px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  footer .footer {
    height: 150px;
  }
  footer .anuncio {
    height: 54px;
  }
  footer h4 {
    font-size: 22px;
  }
}
@media screen and (min-width: 1025px) {
  footer .footer {
    height: 200px;
  }
  footer .anuncio {
    height: 33px;
  }
  footer h4 {
    font-size: 32px;
  }
}
footer .footer-links, footer .footer-info {
  margin: auto 0;
}

/*# sourceMappingURL=style.css.map */
