//fonts sizes xs-md-lg
$nav-size: 15px, 25px, 30px;
$h1-size: 60px, 90px, 120px;
$h2-size: 25px, 30px, 35px;
$h3-size: 16px, 20px, 24px;
$h4-size: 22px, 27px, 32px;
$p-size: 20px, 25px, 30px;
//fonts family
$fontFamily: "Open Sans";
//colors
$color-primario: rgb(0, 0, 0);
$color-secundario:rgb(255,234,0);
$color-scrollbar:  rgb(36, 36, 36);